@media (min-width: 0px) and (max-width: 970px) {
html{
  font:40% "Microsoft Yahei";
}
body{
  min-height:700px;
  min-width:1100px;
  margin:0 auto;
  padding:0;
  background-color:#F5F5F5;
}
a{
  text-decoration:none;
  color:#1B78BC;
}
.allPage{
    width:auto;
    height:100%;
}
/*pageheader（star）--------------------------------------------------------------------*/
.pageHeader{
    height:10%;
    width:100%;
    border-bottom:6px solid #0054A3;
}
.titlePicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.managerPicture{
    width:3.5%;
    height:65%;
    display:block;
    float:right;
    margin:1.2% 0.2% 0 0;
}
.managerName{
    font-size:2.5rem;
    display:block;
    float:right;
    margin:1.6% 2% 0 0;
}
/*pageheader（end）----------------------------------------------------------------------*/

/*pagebody（star）-----------------------------------------------------------------------*/
.pageBody{
    height:80%;
    width:100%;
    background-color:rgb(245,245,245);
}
.navagation{
    height:10%;
    width:100%;
    background-color:rgb(50,50,50);
    text-align:center;
}
.navagationUl{
    width:80%;
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
}
.navagationUl li{
    width:25%;
    height:100%;
    display:block;
    float:left;
}
.navagationPicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.navagationUl li a span{
    font-size:2rem;
    height:100%;
    width:70%;
    color:white;
    display:block;
    float:left;
    position:relative;
    top:30%;
    left:0;
}
.content{
    width:80%;
    height:90%;
    margin:0 auto;
}
.contentTitle{
    font-size:1.5rem;
    margin-top:1.5%;
    height:5%;
    display:block;
}
.recordBox{
    height:88%;
    width:25%;
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
    overflow: scroll;
}
.boxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-align:center; 
}
.thinLine{
    width:95%;
}
.titleline{
    width:95%;
    border-top:2px solid rgb(0,84,163);
}
.titleUl li{
    margin-top:7%;
}
.titleUl li span{
    font-size:1.7rem;
}
.spanStyle{
    font-size:2rem;
    margin-left:20px;
}
.testdiv{
    display:none;
    height:90%;
    width:100%;
    overflow:scroll;
    margin:0 auto;
}
.questionsChoose{
    list-style:none;
}
.table{
    height:88%;
    width:72%;
    margin-left:3%; 
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
}
.rightBoxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-indent:2%;
}
.tableStyle,th,td{
    BORDER-COLLAPSE: collapse;/*单实线表格*/
    border:0.3rem solid rgb(181,181,181);
    text-align: center;/*文字居中*/
}
.tableStyle{
    margin:8% auto 0 auto;
    width:50%;
    height:36%;
}
.tdTitle{
    width:15rem;
    color:white;
    font-size:2rem;
    background-color:rgb(0,84,163);
}
.tdResult{
    width:25rem;
    font-size:2rem;
}
.watchTestpaper{
    width:15%;
    height:10%;
    border-radius:0.8rem;
    background-color:rgb(0,84,163);
    color:white;
    font-size:2rem;
    display:block;
    margin:5% auto 0 auto;
    outline:none;
    font-family:"Microsoft Yahei";
}
.history{
    color:#0054A3;
    cursor: pointer;
}
.end{
    font-family:"Microsoft Yahei";
    display:block;
    margin:20px auto 20px auto;
    width:12%;
    height:10%;
    font-size:2rem;
    background-color:#0054A3;
    color:white;
    border-radius: 0.5rem;  
}
.testQuestions{
    margin-left:20px;
}
/*pagebody（end）----------------------------------------------------------------------*/

/*pageFloot（star）---------------------------------------------------------------------*/
.pageFloot{
    height:10%;
    width:100%;
}
.FlootUp{
    width:100%;
    height:70%;
    background-color:#323232;
    text-align:center;
}
.FlootUpPicture{
    width:auto;
    height:100%;
}
.FlootUpText{
    font-size:1.6rem;
    color:white;
    position:relative;
    top:-37%;
    left:0;
}
.FlootDown{
    height:33%;
    background-color:#0A0A0A;
}
.FlootDownPicture{
    width:auto;
    height:100%;
    display:block;
    margin:0 auto;
}
/*pageFloot（end）--------------------------------------------------------------*/
}
@media (min-width: 970px) and (max-width: 1170px) {
html{
  font:50% "Microsoft Yahei";
}
body{
  min-height:700px;
  min-width:1100px;
  margin:0 auto;
  padding:0;
  background-color:#F5F5F5;
}
a{
  text-decoration:none;
  color:#1B78BC;
}
.allPage{
    width:auto;
    height:100%;
}
/*pageheader（star）--------------------------------------------------------------------*/
.pageHeader{
    height:10%;
    width:100%;
    border-bottom:6px solid #0054A3;
}
.titlePicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.managerPicture{
    width:3.5%;
    height:65%;
    display:block;
    float:right;
    margin:1.2% 0.2% 0 0;
}
.managerName{
    font-size:2.5rem;
    display:block;
    float:right;
    margin:1.6% 2% 0 0;
}
/*pageheader（end）----------------------------------------------------------------------*/

/*pagebody（star）-----------------------------------------------------------------------*/
.pageBody{
    height:80%;
    width:100%;
    background-color:rgb(245,245,245);
}
.navagation{
    height:10%;
    width:100%;
    background-color:rgb(50,50,50);
    text-align:center;
}
.navagationUl{
    width:80%;
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
}
.navagationUl li{
    width:25%;
    height:100%;
    display:block;
    float:left;
}
.navagationPicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.navagationUl li a span{
    font-size:2rem;
    height:100%;
    width:70%;
    color:white;
    display:block;
    float:left;
    position:relative;
    top:30%;
    left:0;
}
.content{
    width:80%;
    height:90%;
    margin:0 auto;
}
.contentTitle{
    font-size:1.5rem;
    margin-top:1.5%;
    height:5%;
    display:block;
}
.recordBox{
    height:88%;
    width:25%;
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
        overflow: scroll;
}
.boxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-align:center; 
}
.thinLine{
    width:95%;
}
.titleline{
    width:95%;
    border-top:2px solid rgb(0,84,163);
}
.titleUl li{
    margin-top:7%;
}
.titleUl li span{
    font-size:1.7rem;
}
.spanStyle{
    font-size:2rem;
    margin-left:20px;
}
.testdiv{
    display:none;
    height:90%;
    width:100%;
    overflow:scroll;
    margin:0 auto;
}
.questionsChoose{
    list-style:none;
}
.table{
    height:88%;
    width:72%;
    margin-left:3%; 
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
}
.rightBoxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-indent:2%;
}
.tableStyle,th,td{
    BORDER-COLLAPSE: collapse;/*单实线表格*/
    border:0.3rem solid rgb(181,181,181);
    text-align: center;/*文字居中*/
}
.tableStyle{
    margin:8% auto 0 auto;
    width:50%;
    height:36%;
}
.tdTitle{
    width:15rem;
    color:white;
    font-size:2rem;
    background-color:rgb(0,84,163);
}
.tdResult{
    width:25rem;
    font-size:2rem;
}
.watchTestpaper{
    width:15%;
    height:10%;
    border-radius:0.8rem;
    background-color:rgb(0,84,163);
    color:white;
    font-size:2rem;
    display:block;
    margin:5% auto 0 auto;
    outline:none;
    font-family:"Microsoft Yahei";
}
.history{
    color:#0054A3;
    cursor: pointer;
}
.end{
    font-family:"Microsoft Yahei";
    display:block;
    margin:20px auto 20px auto;
    width:12%;
    height:10%;
    font-size:2rem;
    background-color:#0054A3;
    color:white;
    border-radius: 0.5rem;  
}
.testQuestions{
    margin-left:20px;
}
/*pagebody（end）----------------------------------------------------------------------*/

/*pageFloot（star）---------------------------------------------------------------------*/
.pageFloot{
    height:10%;
    width:100%;
}
.FlootUp{
    width:100%;
    height:70%;
    background-color:#323232;
    text-align:center;
}
.FlootUpPicture{
    width:auto;
    height:100%;
}
.FlootUpText{
    font-size:1.6rem;
    color:white;
    position:relative;
    top:-37%;
    left:0;
}
.FlootDown{
    height:33%;
    background-color:#0A0A0A;
}
.FlootDownPicture{
    width:auto;
    height:100%;
    display:block;
    margin:0 auto;
}
/*pageFloot（end）--------------------------------------------------------------*/
}
@media (min-width: 1170px) and (max-width: 1440px) {
html{
  font:62.5% "Microsoft Yahei";
}
html{
  font:62.5% "Microsoft Yahei";
}
body{
  min-height:700px;
  min-width:1100px;
  margin:0 auto;
  padding:0;
  background-color:#F5F5F5;
}
a{
  text-decoration:none;
  color:#1B78BC;
}
.allPage{
    width:auto;
    height:100%;
}
/*pageheader（star）--------------------------------------------------------------------*/
.pageHeader{
    height:10%;
    width:100%;
    border-bottom:6px solid #0054A3;
}
.titlePicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.managerPicture{
    width:3.5%;
    height:65%;
    display:block;
    float:right;
    margin:1.2% 0.2% 0 0;
}
.managerName{
    font-size:2.5rem;
    display:block;
    float:right;
    margin:1.6% 2% 0 0;
}
/*pageheader（end）----------------------------------------------------------------------*/

/*pagebody（star）-----------------------------------------------------------------------*/
.pageBody{
    height:80%;
    width:100%;
    background-color:rgb(245,245,245);
}
.navagation{
    height:10%;
    width:100%;
    background-color:rgb(50,50,50);
    text-align:center;
}
.navagationUl{
    width:80%;
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
}
.navagationUl li{
    width:25%;
    height:100%;
    display:block;
    float:left;
}
.navagationPicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.navagationUl li a span{
    font-size:2rem;
    height:100%;
    width:70%;
    color:white;
    display:block;
    float:left;
    position:relative;
    top:30%;
    left:0;
}
.content{
    width:80%;
    height:90%;
    margin:0 auto;
}
.contentTitle{
    font-size:1.5rem;
    margin-top:1.5%;
    height:5%;
    display:block;
}
.recordBox{
    height:88%;
    width:25%;
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
    overflow: scroll;
}
.boxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-align:center; 
}
.thinLine{
    width:95%;
}
.titleline{
    width:95%;
    border-top:2px solid rgb(0,84,163);
}
.titleUl li{
    margin-top:7%;
}
.titleUl li span{
    font-size:1.7rem;
}
.spanStyle{
    font-size:2rem;
    margin-left:20px;
}
.testdiv{
    display:none;
    height:90%;
    width:100%;
    overflow:scroll;
    margin:0 auto;
}
.questionsChoose{
    list-style:none;
}
.table{
    height:88%;
    width:72%;
    margin-left:3%; 
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
}
.rightBoxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-indent:2%;
}
.tableStyle,th,td{
    BORDER-COLLAPSE: collapse;/*单实线表格*/
    border:0.3rem solid rgb(181,181,181);
    text-align: center;/*文字居中*/
}
.tableStyle{
    margin:8% auto 0 auto;
    width:50%;
    height:36%;
}
.tdTitle{
    width:15rem;
    color:white;
    font-size:2rem;
    background-color:rgb(0,84,163);
}
.tdResult{
    width:25rem;
    font-size:2rem;
}
.watchTestpaper{
    width:15%;
    height:10%;
    border-radius:0.8rem;
    background-color:rgb(0,84,163);
    color:white;
    font-size:2rem;
    display:block;
    margin:5% auto 0 auto;
    outline:none;
    font-family:"Microsoft Yahei";
}
.history{
    color:#0054A3;
    cursor: pointer;
}
.end{
    font-family:"Microsoft Yahei";
    display:block;
    margin:20px auto 20px auto;
    width:12%;
    height:10%;
    font-size:2rem;
    background-color:#0054A3;
    color:white;
    border-radius: 0.5rem;  
}
.testQuestions{
    margin-left:20px;
}
/*pagebody（end）----------------------------------------------------------------------*/

/*pageFloot（star）---------------------------------------------------------------------*/
.pageFloot{
    height:10%;
    width:100%;
}
.FlootUp{
    width:100%;
    height:70%;
    background-color:#323232;
    text-align:center;
}
.FlootUpPicture{
    width:auto;
    height:100%;
}
.FlootUpText{
    font-size:1.6rem;
    color:white;
    position:relative;
    top:-37%;
    left:0;
}
.FlootDown{
    height:33%;
    background-color:#0A0A0A;
}
.FlootDownPicture{
    width:auto;
    height:100%;
    display:block;
    margin:0 auto;
}
/*pageFloot（end）--------------------------------------------------------------*/
}
@media (min-width: 1440px) and (max-width: 3000px) {
html{
  font:70% "Microsoft Yahei";
}
body{
  min-height:700px;
  min-width:1100px;
  margin:0 auto;
  padding:0;
  background-color:#F5F5F5;
}
a{
  text-decoration:none;
  color:#1B78BC;
}
.allPage{
    width:auto;
    height:100%;
}
/*pageheader（star）--------------------------------------------------------------------*/
.pageHeader{
    height:10%;
    width:100%;
    border-bottom:6px solid #0054A3;
}
.titlePicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.managerPicture{
    width:3.5%;
    height:65%;
    display:block;
    float:right;
    margin:1.2% 0.2% 0 0;
}
.managerName{
    font-size:2.5rem;
    display:block;
    float:right;
    margin:1.6% 2% 0 0;
}
/*pageheader（end）----------------------------------------------------------------------*/

/*pagebody（star）-----------------------------------------------------------------------*/
.pageBody{
    height:80%;
    width:100%;
    background-color:rgb(245,245,245);
}
.navagation{
    height:10%;
    width:100%;
    background-color:rgb(50,50,50);
    text-align:center;
}
.navagationUl{
    width:80%;
    list-style:none;
    padding:0;
    margin:0 auto;
    display:inline-block;
}
.navagationUl li{
    width:25%;
    height:100%;
    display:block;
    float:left;
}
.navagationPicture{
    width:auto;
    height:100%;
    display:block;
    float:left;
}
.navagationUl li a span{
    font-size:2rem;
    height:100%;
    width:70%;
    color:white;
    display:block;
    float:left;
    position:relative;
    top:30%;
    left:0;
}
.content{
    width:80%;
    height:90%;
    margin:0 auto;
}
.contentTitle{
    font-size:1.5rem;
    margin-top:1.5%;
    height:5%;
    display:block;
}
.recordBox{
    height:88%;
    width:25%;
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
    overflow: scroll;
}
.boxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-align:center; 
}
.thinLine{
    width:95%;
}
.titleline{
    width:95%;
    border-top:2px solid rgb(0,84,163);
}
.titleUl li{
    margin-top:7%;
}
.titleUl li span{
    font-size:1.7rem;
}
.spanStyle{
    font-size:2rem;
    margin-left:20px;
}
.testdiv{
    display:none;
    height:90%;
    width:100%;
    overflow:scroll;
    margin:0 auto;
}
.questionsChoose{
    list-style:none;
}
.table{
    height:88%;
    width:72%;
    margin-left:3%; 
    padding-top:1%;
    float:left;
    background-color:white;
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem;  
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem;  
    box-shadow: 0.5rem 0.5rem 0.5rem; 
}
.rightBoxTitle{
    width:100%;
    font-size:2.5rem;
    display:block;
    text-indent:2%;
}
.tableStyle,th,td{
    BORDER-COLLAPSE: collapse;/*单实线表格*/
    border:0.3rem solid rgb(181,181,181);
    text-align: center;/*文字居中*/
}
.tableStyle{
    margin:8% auto 0 auto;
    width:50%;
    height:36%;
}
.tdTitle{
    width:15rem;
    color:white;
    font-size:2rem;
    background-color:rgb(0,84,163);
}
.tdResult{
    width:25rem;
    font-size:2rem;
}
.watchTestpaper{
    width:15%;
    height:10%;
    border-radius:0.8rem;
    background-color:rgb(0,84,163);
    color:white;
    font-size:2rem;
    display:block;
    margin:5% auto 0 auto;
    outline:none;
    font-family:"Microsoft Yahei";
}
.history{
    color:#0054A3;
    cursor: pointer;
}
.end{
    font-family:"Microsoft Yahei";
    display:block;
    margin:20px auto 20px auto;
    width:12%;
    height:10%;
    font-size:2rem;
    background-color:#0054A3;
    color:white;
    border-radius: 0.5rem;  
}
.testQuestions{
    margin-left:20px;
}
/*pagebody（end）----------------------------------------------------------------------*/

/*pageFloot（star）---------------------------------------------------------------------*/
.pageFloot{
    height:10%;
    width:100%;
}
.FlootUp{
    width:100%;
    height:70%;
    background-color:#323232;
    text-align:center;
}
.FlootUpPicture{
    width:auto;
    height:100%;
}
.FlootUpText{
    font-size:1.6rem;
    color:white;
    position:relative;
    top:-37%;
    left:0;
}
.FlootDown{
    height:33%;
    background-color:#0A0A0A;
}
.FlootDownPicture{
    width:auto;
    height:100%;
    display:block;
    margin:0 auto;
}
/*pageFloot（end）--------------------------------------------------------------*/
}